
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #AADDFF;
    --secondary-color: #000000;
    --accent-color: #C6878F;
}

h1,
h2
{
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}


body {
    font-family: "Inter", sans-serif;
}

header {
    background-color: burlywood;
    display: grid;
    grid-template-columns: 100px 1fr;
}

header img {
    padding: .5rem;
}

header div {
    margin: auto 0;
}

header h1,
header p
{
    margin: 0;
    padding: 0;
}

nav {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

#menu {
    background-color: burlywood;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    padding: .5rem;
    color: #007bff;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "X";
}

.menu-links {
    padding: 0;
    margin: 0;
}

.menu-links li {
    list-style-type: none;
}

.menu-links li a {
    color: #007bff;
    display: block;
    padding: 1rem;
    font-weight: 700;
}

.menu-links li.active {
    background-color: rgba(0, 0, 0, .2);
}

footer {
    background-color: burlywood;
    padding: .5rem;
}

footer p {
    margin: .3rem;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
}

.socials a {
    color: #007bff;
}


.home {
    text-align: center;
}

.home-card {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    margin: .5rem;
}

.home-card h3 {
    background-color: #333;
    padding: 1rem;
    margin: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .3);
}

.directory {
    display: grid;
    text-align: center;
}

.filter-button {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    background-color: #333;
    margin: .3rem .5rem;
}

.filter-button:hover {
    background-color: burlywood;
}

.card {
    display: grid;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    background-color: #eee;
    padding: 1rem;
    margin: .5rem;
}

.card h3 {
    grid-column: 1/3;
}

.card img {
    grid-column: 1/3;
    margin: 1rem auto;
}

.address p {
    margin: .3rem 0;
}

.list {
    display: flex;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    justify-content: space-between;
    align-items: center;
}

.list div p {
    margin: .3rem 0;
}